<form class="form" [formGroup]="form">
  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input class="input" matInput formControlName="email" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="form.controls.email.invalid">
      You entered invalid email
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Enter your password</mat-label>
    <input class="input" matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="toggleVisibilityPassword()" [attr.aria-label]="'hidePassword password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.controls.password.invalid">
      You entered invalid password
    </mat-error>
  </mat-form-field>
  <div *ngIf="loggedErrorMessage" class="error">
    <mat-icon color="warn">cancel</mat-icon>
    <span class="error-text">{{loggedErrorMessage}}</span>
  </div>
  <button mat-raised-button (click)="submit()" color="primary">Login</button>
</form>
